@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --bg-color: #0D1117;
  --red-color: #AE0930;

  --subHeading-size: 16px;
  --size-titlePhone: 38px;
  --size-subTitlePhone: 26px;
  --size-textPhone: 16px;

  --font-proximaNova: "Proxima Nova";
  --font-poppins: 'Poppins', sans-serif;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.section__padding{
  padding: 120px 2rem 0 2rem; /*//because of the sticky navbar, i also have to
                              adjust padding specifically for the header because of the image*/

}

.global__heading{
  font-size: 33px;
  font-family: var(--font-proximaNova);

  margin-bottom: 0.5rem;
}

.global__subHeading{
  font-size: 33px;
  font-family: var(--font-proximaNova);

  margin-bottom: 0.5rem;
}

.global__text{
  font-size: 20px;
  font-family: var(--font-poppins);
  font-weight: 300;
  color: #A3B3BC;
}

.global__textPadding{
  padding-top: 1rem;
}

.global__textBold{
  color: #ffffff;
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  background: var(--bg-color);
}

.container{
  max-width: 1280px;
  margin: 0 auto; /* Centers the container */
}

.container_components{
  padding-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 700px) {

  .section__padding{
    padding-top: 80px;
  }
  .container_components{
    padding-top: 5rem;
  }
  .global__subHeading {
    font-size: 26px;
  }

  .global__text {
    font-size: 16px;
  }

}